<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Behave Catalog</title>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-md-2 mr-0" href="#">Behave Catalog</a>
    <input id="search" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    {% for group in steps %}
                        <li class="nav-item">
                            <a class="nav-link" href="#{{ group }}">
                                {% if steps[group]|count == 0 %}
                                    <span class="badge float-right mt-1 badge-secondary">
                                {% else %}
                                    <span class="badge float-right mt-1 badge-success">
                                {% endif %}
                                        {{ steps[group]|count }}
                                    </span>
                                {{ group|title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <main id="main" role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
            {% for group in steps %}
                <div id="{{ group }}" class="card mb-4">
                    <h5 class="card-header">{{ group|title }}</h5>

                    <ul class="list-group list-group-flush">
                        {% if steps[group] %}
                            {% for step in steps[group] %}
                                <li class="list-group-item">
                                    <a data-toggle="collapse" href="#{{ group }}-{{ loop.index0 }}" aria-expanded="false" aria-controls="{{ group }}-{{ loop.index0 }}">
                                        {{ step.phrase|safe }}
                                    </a>

                                    <code class="float-right d-none d-lg-block d-xl-block pl-1" data-toggle="tooltip" data-html="true" data-placement="left" title="{{ step.source.file }}:{{ step.source.line }}">{{ step.source.func }}()</code>

                                    <div id="{{ group }}-{{ loop.index0 }}" class="collapse" data-parent="#main">
                                        <h6 class="pt-3">Documentation</h6>
                                        {% if step.docstring %}
                                            <pre>{{ step.docstring }}</pre>
                                        {% else %}
                                            <span class="text-muted">No docstring supplied.</span>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item text-muted">No steps found.</li>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}

            <footer>
                <p class="text-muted float-right">Generated: {{ timestamp.strftime("%Y-%m-%d @ %H:%M:%S") }}</p>
            </footer>
        </main>
    </div>
</div>

<script src="jquery.min.js"></script>
<script src="jquery.debounce.min.js"></script>
<script src="popper.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="index.js"></script>
</body>
</html>
