<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Behave Catalog</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
    <h1>Behave Catalog</h1>

    {% for group in steps %}
        {% if steps[group] %}
            <section>
                <h2>{{ group|title }}</h2>
                <ul>
                    {% for step in steps[group] %}
                        <li>{{ step.phrase }}</li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    {% endfor %}

    <!-- Bootstrap JS -->
    <script src="jquery.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="index.js"></script>
</body>
</html>
